.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    gap: 32px;
    /* padding-left: 32px;
    padding-right: 32px; */
}

.main-container {
    display: flex;
    padding-right: 32px;
}

.shopping-card {
    width: 30vw;
}